In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('sample data.csv')
df.head()

   Year   AI   ML   DS
0  2020  120  100   85
1  2021  150  110  110
2  2022  130  150  140
3  2023  180  200  150

## Calculate total DS students

In [10]:
total_ds=df['DS'].sum()
print(total_ds)

485

## Find highest growth course

In [32]:
growth={'AI':df.loc[df['Year']==2023,'AI'].values[0]-df.loc[df['Year']==2020,'AI'].values[0],
        'ML':df.loc[df['Year']==2023,'ML'].values[0]-df.loc[df['Year']==2020,'ML'].values[0],
        'DS':df.loc[df['Year']==2023,'DS'].values[0]-df.loc[df['Year']==2020,'DS'].values[0]}
print(growth)

{'AI': 60, 'ML': 100, 'DS': 65}

In [40]:
highest_growth_course=max(growth, key=growth.get)

In [36]:
print(highest_growth_course)

ML

## Average AI enrollement

In [24]:
avg_ai=df['AI'].mean()
print(avg_ai)

145.0