In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('matches.csv')

In [5]:
df.head()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,balls_left,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 22,2025","Eden Gardens, Kolkata",KKR,RCB,League,RCB,Bowl,174,8,177,3,RCB,7 wickets,22,Krunal Pandya,Virat Kohli,59,Krunal Pandya,3--29
1,2,"March 23,2025","Rajiv Gandhi International Stadium, Hyderabad",SRH,RR,League,RR,Bowl,286,6,242,6,SRH,44 runs,0,Ishan Kishan,Ishan Kishan,106,Tushar Deshpande,3--44
2,3,"March 23,2025","MA Chidambaram Stadium, Chennai",CSK,MI,League,CSK,Bowl,155,9,158,6,CSK,4 wickets,5,Noor Ahmad,Rachin Ravindra,65,Noor Ahmad,4--18
3,4,"March 24,2025","ACA-VDCA Cricket Stadium, Vishakhapatnam",DC,LSG,League,DC,Bowl,209,8,211,9,DC,1 wickets,3,Ashutosh Sharma,Nicholas Pooran,75,Mitchell Starc,3--42
4,5,"March 25,2025","Narendra Modi Stadium, Ahmedabad",GT,PBKS,League,GT,Bowl,243,5,232,5,PBKS,11 runs,0,Shreyas Iyer,Shreyas Iyer,97,Sai Kishore,3--30

##  Who scored the highest individual score?

In [10]:
df[df['highscore']== df['highscore'].max()][['top_scorer', 'highscore']]

         top_scorer  highscore
26  Abhishek Sharma        141

## Most frequent player of the match

In [12]:
df['player_of_the_match'].value_counts().idxmax()

'KL Rahul'

## Highest first inning score

In [15]:
df[df['first_ings_score'] == df['first_ings_score'].max()][['team1', 'first_ings_score']]

  team1  first_ings_score
1   SRH               286